body{
    background-color: rgb(42, 5, 53);
    font-family: Agency FB;
}

.Sombra{
    text-shadow: 6px 6px 12px rgb(69, 0, 88);
}

.Legenda{
    color: white;
    background-color: #d089ff;
    text-shadow: 6px 6px 12px rgb(69, 0, 88);
    font-size: 1.4em;
    border-radius: 65%;
}

.imgshadow{
    box-shadow: 10px 6px 20px 6px #c9a7e6;
}

.imgicone{
    width: 20%;
}

h2{
    text-align: center;
    font-family: Agency FB;
    font-weight: bold;
    color: black;
    font-size: 2.5em;
    margin-top: 2%;
    text-shadow: 5px 5px 12px rgb(148, 148, 148);
}

.letrabonita{
    color: white;
}

.social{
    width: 5%;
    height: 5%;
}

.listameio li{
    list-style-image: url('../img/Ícones/lupa.png');
}

.rowcard{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

p{
    color: rgb(255, 255, 255);
    font-family: Agency FB;
    
}

footer{
    background-color: rgb(21, 1, 29);
    font-size: 1.3em;
    text-align: center;
    padding: 1%;
}

section{
    border-radius: 30px;
    background-color: rgb(99, 22, 134);
    margin: 2%;
    padding: 2%;
    text-align: center;
}

/*Separando os Arcos*/
.espaçobaixo{
    padding-bottom: 2%;
}

.espacocard{
    margin-bottom: 3%;
}

.rowcard{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}